<div id="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-star"></i></div>
        <p>Top Rated</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bath"></i></div>
        <p>Bathrooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-car"></i></div>
        <p>Parking</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-wifi"></i></div>
        <p>Wifi</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-swimming-pool"></i></div>
        <p>Pool</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-utensils"></i></div>
        <p>Kitchen</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-dog"></i></div>
        <p>Pets Allowed</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-smoking"></i></div>
        <p>Smoking Allowed</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain View</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Forest View</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-sun"></i></div>
        <p>Sunrise View</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-champagne-glasses"></i></div>
        <p>Drinking Allowed</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach Access</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-skiing"></i></div>
        <p>Ski Access</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-hiking"></i></div>
        <p>Hiking Trails</p>
    </div>
</div>