<div id="filters">
    <div class="filter" data-category="trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter" data-category="top-rated">
        <div><i class="fa-solid fa-heart"></i></div>
        <p>Top picks</p>
    </div>
    <div class="filter" data-category="beachfront">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
    </div>
    <div class="filter" data-category="cabins">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Cabins</p>
    </div>
    <div class="filter" data-category="amazing-views">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Amazing views</p>
    </div>
    <div class="filter" data-category="luxe">
        <div><i class="fa-solid fa-gem"></i></div>
        <p>Luxe</p>
    </div>
    <div class="filter" data-category="cities">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Cities</p>
    </div>
    <div class="filter" data-category="countryside">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Countryside</p>
    </div>
    <div class="filter" data-category="lakefront">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Lakefront</p>
    </div>
    <div class="filter" data-category="islands">
        <div><i class="fa-solid fa-island-tropical"></i></div>
        <p>Islands</p>
    </div>
    <div class="filter" data-category="design">
        <div><i class="fa-solid fa-palette"></i></div>
        <p>Design</p>
    </div>
    <div class="filter" data-category="tiny-homes">
        <div><i class="fa-solid fa-home"></i></div>
        <p>Tiny homes</p>
    </div>
    <div class="filter" data-category="historic">
        <div><i class="fa-solid fa-landmark"></i></div>
        <p>Historic homes</p>
    </div>
    <div class="filter" data-category="pools">
        <div><i class="fa-solid fa-swimming-pool"></i></div>
        <p>Amazing pools</p>
    </div>
    <div class="filter" data-category="omg">
        <div><i class="fa-solid fa-star"></i></div>
        <p>OMG!</p>
    </div>
    <div class="filter" data-category="farms">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
    </div>
    <div class="filter" data-category="ski-in-out">
        <div><i class="fa-solid fa-skiing"></i></div>
        <p>Ski-in/out</p>
    </div>
    <div class="filter" data-category="camping">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div class="filter" data-category="castles">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter" data-category="tropical">
        <div><i class="fa-solid fa-palm-tree"></i></div>
        <p>Tropical</p>
    </div>
</div>
        <div><i class="fa-solid fa-sun"></i></div>
        <p>Sunrise View</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-champagne-glasses"></i></div>
        <p>Drinking Allowed</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach Access</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-skiing"></i></div>
        <p>Ski Access</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-hiking"></i></div>
        <p>Hiking Trails</p>
    </div>
</div>