<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-compass"></i>
        <span style="font-weight: 600; font-size: 22px;">wanderlust</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Navigation Links -->
        <div class="navbar-nav me-auto">
          <a class="nav-link" href="/listings">Explore</a>
          <a class="nav-link" href="/listings/new">Host your space</a>
        </div>
        
        <!-- Centered Search Bar -->
        <div class="navbar-nav mx-auto">
          <div class="search-container">
            <input class="search-input" type="search" placeholder="Where are you going?" aria-label="Search"/>
            <button class="search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
        
        <!-- Theme toggle -->
        <div class="d-none d-lg-flex align-items-center me-3">
          <button class="btn btn-sm btn-outline-airbnb" id="themeToggle" type="button" aria-label="Toggle theme">
            <i class="fa-solid fa-moon"></i>
          </button>
        </div>

        <!-- User Menu -->
        <div class="dropdown">
          <div class="user-menu d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars" style="font-size: 14px; margin-right: 8px; color: var(--airbnb-gray);"></i>
            <div class="user-avatar">
              <% if (currentUser) { %>
                <%= currentUser.username.charAt(0).toUpperCase() %>
              <% } else { %>
                <i class="fa-solid fa-user" style="font-size: 14px;"></i>
              <% } %>
            </div>
          </div>
          <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0" style="border-radius: 12px; padding: 8px 0; min-width: 200px;">
            <% if (!currentUser) { %>
              <li><a class="dropdown-item py-2 px-3" href="/signup" style="font-weight: 600;">Sign up</a></li>
              <li><a class="dropdown-item py-2 px-3" href="/login">Log in</a></li>
              <li><hr class="dropdown-divider my-2"></li>
              <li><a class="dropdown-item py-2 px-3" href="/listings/new">Airbnb your home</a></li>
              <li><a class="dropdown-item py-2 px-3" href="#">Help</a></li>
            <% } else { %>
              <li><a class="dropdown-item py-2 px-3" href="#" style="font-weight: 600;">Messages</a></li>
              <li><a class="dropdown-item py-2 px-3" href="#">Notifications</a></li>
              <li><a class="dropdown-item py-2 px-3" href="#">Trips</a></li>
              <li><a class="dropdown-item py-2 px-3" href="#">Wishlists</a></li>
              <li><hr class="dropdown-divider my-2"></li>
              <li><a class="dropdown-item py-2 px-3" href="/listings/new">Airbnb your home</a></li>
              <li><a class="dropdown-item py-2 px-3" href="#">Account</a></li>
              <li><hr class="dropdown-divider my-2"></li>
              <li><a class="dropdown-item py-2 px-3" href="#">Help</a></li>
              <li><a class="dropdown-item py-2 px-3" href="/logout">Log out</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>