body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    flex: 1;
}
/*Navbar*/
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.navlink{
    color: #222 !important;
}

/*Footer*/
.f-info-links a{
    text-decoration: none;
    color: #222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1.5rem;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* cards */
.linked{
    text-decoration: none;
}
.card{
    border: none !important;
    margin: 1rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
}

/* card overlay effect */
.card-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 40%; /* Covers up to 40% height */
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent dark overlay */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
  opacity: 1;
}